{{- $description   := .Site.Params.description -}}
{{- $image   := .Params.ogImage -}}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<link rel="manifest" href="/manifest.json"> 
<meta name="theme-color" content="#ffffff">

<meta property="og:type" content="website">

{{if gt (len .Description) 1}}
    <meta name="description" content="{{- .Description -}}">
    <meta property="og:description" content="{{- .Description -}}" />
{{end}}
{{if gt (len $description) 1}}
    <meta name="description" content="{{- $description -}}">
    <meta property="og:description" content="{{- $description -}}" />
{{end}}
{{if isset .Params "image"}}
    <meta property="og:image" content="{{- .Params.image | relURL -}}" />
{{end}}
{{ if isset .Params "title"}}
<meta property="og:title" content="{{- .Params.title -}}" />
{{end}}

<base href="/">