.gg-form-container iframe {
    width: 100%;
    min-height: 780px;
}
.gg-form-container {
    width:100%;
}

.rotor .rotor-leaf-front{
    margin-top:auto !important;
}

.flipdown{
    margin:auto;
}